@font-face {
  font-family: "zabras";
  src: url("fonts/zabars.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "hollywood";
  src: url("fonts/HoltwoodOneSC-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("img/polloLocoBackground.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "zabras", Arial, Helvetica, sans-serif;
  font-size: 64px;
  letter-spacing: 3px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  color: khaki;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

#Fullscreen {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  display: block;
}

.start-screen {
  position: relative;
  display: flex;
}

#Start_Game_Button {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(128, 154, 71);
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  font-family: "hollywood", Arial, Helvetica, sans-serif;
  font-size: clamp(20px, 4vw, 40px);
  cursor: pointer;
}
#Start_Game_Button:hover {
  background-color: whitesmoke;
  color: rgb(67, 95, 73);
}

#Keyboard_Command_Div {
  position: absolute;
  top: 15px;
  left: 20px;
  display: flex;
  gap: 25px;
}

.centerContainer {
  left: 50%;
  transform: translate(-50%, -50%);
}

#Keyboard_Command_Div img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#Keyboard_Command_Div img:hover {
  filter: invert(90%) sepia(96%) saturate(6682%) hue-rotate(310deg)
    brightness(97%) contrast(99%);
}

.fullscreen-and-sound-div {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  gap: 25px;
}

.option-img img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.option-img img:hover {
  filter: invert(90%) sepia(96%) saturate(6682%) hue-rotate(310deg)
    brightness(97%) contrast(99%);
}

/* ============
MOBILE-MOVEMENT
=============*/
.mobile-movement {
  display: none;
  gap: 45px;
  bottom: 0px;
  position: absolute;
}

.mobile-movement-left {
  left: 65px;
}

.mobile-movement-right {
  right: 65px;
}
.mobile-movement img {
  width: 50px;
  height: 50px;
}

/* ==============================
START-SCREEN KEYBOARD INSTRUCTION
=================================*/
.keyboard-instructions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 280px;
  background-color: rgb(245, 183, 94);
  border-radius: 20px;
  padding: 20px;
  filter: drop-shadow(2px 4px 6px black);
}

.arrange-keyboard-commands-content {
  position: relative;
  bottom: 15px;
}

.keyboard-instructions-popUp-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#Close_Keyboard_Commands {
  position: relative;
  cursor: pointer;
  left: 260px;
  top: -14px;
  border: 2px solid red;
  border-radius: 20px;
}

.keyboard-command-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.keyboard-command-div p {
  font-size: 20px;
}

.keyboard-img-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.arrange-keyboard-instruction-section {
  display: flex;
  justify-content: center;
}

.pop-up-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* ====================
START-SCREEN POLICY
=======================*/
#Policy {
  display: none;
  height: 440px;
  width: 680px;
  background-color: rgb(245, 183, 94);
  border-radius: 20px;
  overflow: auto;
  padding: 20px;
  position: relative;
}

.impressum {
  font-size: 24px;
  overflow-y: auto;
  padding: 16px 48px;
  margin: 40px 16px 0 0;
}

.closePolicy {
  cursor: pointer;
  position: absolute;
  right: 15px;
}

/* =============
GAME-OVER-SCREEN
================*/
#Game_Over_Screen {
  position: absolute;
  height: 100%;
}

.game-over-img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.d-none {
  display: none;
}

.button-container {
  display: flex;
  gap: 25px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container img {
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}

/* ======== 
WIN - SCREEN
===========*/
#Win_Screen {
  position: absolute;
  height: 100%;
  width: 100%;
}
.win-img {
  height: 100%;
  border-radius: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.win-text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 183, 0);
  font-size: 45px;
  font-family: "zabras", Arial, Helvetica, sans-serif;
}

/* SMARTPHONES */
@media only screen and (max-width: 720px) {
  #Fullscreen {
    width: 100vw;
    height: 100vh;
  }

  #Headline {
    display: none;
  }

  #Start_Game_Button {
    top: clamp(5%, 12vw, 14%);
  }

  canvas {
    width: 100vw;
  }

  .start-screen-footer {
    width: -webkit-fill-available;
  }

  #Policy {
    width: 100%;
    border-radius: unset;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

/* =====================
TURN DEVICE NOTIFICATION
========================*/
.turn-device {
  height: 100vh;
  width: 100vw;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.turn-device p {
  font-size: clamp(25px, 6vw, 50px);
  color: whitesmoke;
  border: 2px solid;
  border-radius: 30px;
  padding: 10px;
  font-weight: bolder;
}
