body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/polloLocoBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

canvas {
  background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.start-screen {
  /* position: relative; */
  display: flex;
}

#Start_Game_Button {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(128, 154, 71);
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
}
#Start_Game_Button:hover {
  background-color: rgb(67, 95, 73);
}

.start-screen-footer {
  background-color: rgb(152, 68, 10);
  width: 672px;
  display: flex;
  justify-content: space-between;
  padding-inline: 24px;
  padding-block: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.start-screen-footer img {
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.start-screen-footer img:hover {
  filter: invert(90%) sepia(96%) saturate(6682%) hue-rotate(310deg)
    brightness(97%) contrast(99%);
}
.start-screen-footer-left-div {
  display: flex;
  gap: 20px;
}
